可扩展编程之MEF/ESTM.Client.Winform/ESTM.Client.BLL/Service References/ServiceReference_MyWCF/MyWCF2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ESTM.Common.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ESTM.Common.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDTO_USERS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTO_USERS" nillable="true" type="tns:DTO_USERS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTO_USERS" nillable="true" type="tns:ArrayOfDTO_USERS" />
  <xs:complexType name="DTO_USERS">
    <xs:sequence>
      <xs:element minOccurs="0" name="CREATETIME" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DEPARTMENT_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FULLNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFYTIME" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_PASSWORD" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTO_USERS" nillable="true" type="tns:DTO_USERS" />
</xs:schema>