可扩展编程之MEF/ESTM.Client.Winform/ESTM.Client.BLL/Service References/ServiceReference_MyWCF/MyWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:1234/MyWCF.Server?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ESTM.Common.Model" />
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ESTM.Common.Model" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q1:ArrayOfDTO_USERS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>